*, *::after, *::before{
    margin: 0;
    box-sizing:border-box;
} 
:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}
body{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    
}
.game-wrapper{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,auto);
}
.title{
    text-align: center;
    padding: 20px;
}
.cell{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3){
    border-top: 0;
}
.cell:last-child, .cell:nth-child(7), .cell:nth-child(8){
    border-bottom: 0;
}
.cell:nth-child(3n+1){
    border-left: 0;
}
.cell:nth-child(3n+3){
    border-right: 0;
}

.cell.x, .cell.circle{
    cursor: not-allowed;
}
.cell.x::before, .cell.x::after{
    background-color: black;
}
.cell.x::before,
.cell.x::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .10);
    height: var(--mark-size);
}
.cell.x::before{
    transform: rotate(45deg);
}
.cell.x::after{
    transform: rotate(-45deg);
}


.cell.circle::before,
.cell.circle::after{
    content: '';
    position: absolute;
    border-radius: 50%;  
}
.cell.circle::before{
    width: calc(var(--mark-size) * .9);
    height: calc(var(--mark-size) * .9);
    background-color: black;
}
.cell.circle::after{
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}

.winning-msg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    flex-direction: column;
}
.winning-msg.show{
    display: flex;
}
.restart-btn{
    font-size: 2rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    border-radius: 5px;
    cursor: pointer;
}
.restart-btn:hover{
    background-color: black;
    color: white;
    border-color: white;
}